.icon-clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.icon-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: var(--icon-color);
  cursor: pointer;
  fill: currentColor;
  transition: border-color var(--transition-dur-and-func), color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
